.panel-wrap {
  width: 100%;
  background-color: #f6f3ee;
}

.panel-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.panel-container {
  position: relative;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  display: block;
  float: left;
  background-color: #fffeff;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.2s ease-out;
  -webkit-transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.2s ease-out;
}

.panel-container:hover {
  box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px,
    rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px,
    rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
    rgba(35, 35, 35, 0.05) 0px 64px 64px;
  transform: translate(0, -4px);
}

.panel-img-wrap {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 300px;
  height: 300px;
  background-size: cover;
  border: 1px solid #ebebeb;
}

.panel-img-wrap img {
  width: 100%;
}

.panel-event-logo {
  position: absolute;
  top: 257px;
  display: block;
  background-color: #fffeff;
  height: 50px;
  width: 50px;
  left: calc(100% - 70px);
  border-radius: 50%;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid transparent;
  bottom: -10px;
  background-size: 100% 100%;
  text-align: center;
  font-size: 30px;
}

.panel-event-logo i {
  color: #807d7d;
}

.panel-event-logo i:hover .panel-event-logo i:focus {
  color: #343434;
}

.panel-event-info {
  width: 100%;
  color: #343434;
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.panel-event-info a {
  display: block;
  padding-bottom: 16px;
  width: 100%;
  text-decoration: none;
  color: #343434;
}

.panel-event-info a:nth-child(1) {
  font-weight: 500;
}

.panel-event-info div,
.panel-event-info p {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  height: 40px;
  margin: 0;
}

a.panel-event-buy {
  display: block;
  width: 100%;
  font-weight: 400;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  color: #343434;
  box-sizing: border-box;
  border-top: 1px solid #f6f3ee;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.panel-event-buy i {
  margin-left: 8px;
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  .panel-container {
    width: 30%;
    margin-left: 3.32222%;
    margin-bottom: 75px;
  }

  .panel-wrap {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 990px) and (max-width: 1280px) {
  .panel-container {
    width: 31%;
    margin-left: 2.333333%;
    margin-bottom: 75px;
  }

  .panel-wrap {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 990px) and (max-width: 1024px) {
  .panel-container {
    width: 30%;
    margin-left: 3.333333%;
    margin-bottom: 75px;
  }

  .panel-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .panel-container {
    width: 40%;
    margin-bottom: 45px;
  }

  .panel-container:nth-child(odd) {
    margin-left: 7%;
    margin-right: 2.5%;
  }

  .panel-container:nth-child(even) {
    margin-left: 2.5%;
    margin-right: 7%;
  }
}

@media screen and (min-width: 599px) and (max-width: 768px) {
  .panel-container {
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 599px) {
  .panel-wrap {
    padding-top: 45px;
  }
}
@media screen and (max-width: 599px) {
  .panel-wrap {
    padding-top: 30px;
  }
}

@media screen and (min-width: 430px) and (max-width: 599px) {
  .panel-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 45px;
  }

  .panel-event-logo {
    top: 257px;
    height: 50px;
    width: 50px;
    left: calc(100% - 70px);
    font-size: 30px;
  }

  .panel-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 430px) {
  .panel-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
  }

  .panel-wrap {
    padding-left: 8px;
    padding-right: 8px;
  }
  .panel-event-logo {
    top: 256px;
    height: 50px;
    width: 50px;
    left: calc(100% - 60px);
    font-size: 25px;
  }
}