.directory-navbar {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-color: #f6f3ee;
}

.directory-navbar a {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 1em 0;
  position: relative;
}

.directory-navbar a span:not(.nav-item-name) {
  position: absolute;
  display: block;
  height: 0;
  width: 100%;
  top: calc(100% - 3px);
}

.directory-navbar li {
  display: table-cell;
  width: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid #e6e6e6;
}

.directory-navbar li:last-of-type,
.directory-navbar li:last-of-type:hover,
.directory-navbar li:last-of-type:active,
.directory-navbar li:first-of-type,
.directory-navbar li:first-of-type:active,
.directory-navbar li:first-of-type:hover {
  border-bottom: 2px solid #e6e6e6;
  pointer-events: none;
  cursor: default;
}

.directory-navbar li.dnb-active,
.directory-navbar li:hover {
  border-bottom: 2px solid #faea29;
}

.dnb-active a span:last-of-type {
  background-color: #faea29;
  height: 3px;
}

.dnb-active i.icon,
li.dnb-active .nav-item-name {
  color: #343A41 !important; 
}

.directory-navbar a:hover span:not(.nav-item-name),
.directory-navbar a:active span:not(.nav-item-name) {
  background-color: #faea29;
  height: 3px;
}

.directory-navbar li:active span.nav-item-name ,
.directory-navbar li:hover span.nav-item-name,
.directory-navbar li:hover i.icon,
.directory-navbar li:hover i.icon {
  color: #343A41;
}

.directory-navbar i.icon {
  margin-right: 5%;
  color: #858585;
  font-size: 20px;
}

.directory-navbar span.nav-item-name {
  color: #807d7d;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .directory-navbar li:first-of-type,
  .directory-navbar li:last-of-type {
    width: 1%;
  }
}

@media screen and (max-width: 768px) {
  .directory-navbar li:first-of-type,
  .directory-navbar li:last-of-type {
    width: 1%;
  }

  .directory-navbar a .nav-item-name {
    display: none;
  }
}
