  .mookh-btn-wrap:after {
    content: "";
    display: table;
    clear: both;
  }

/* Payment Buttons
=====================================================*/
@media screen and (min-width: 768px) {
  .mookh-btn-wrap {
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid #f6f3ee;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .mookh-btn-wrap {
    margin-left: 16px;
    margin-right: 16px;
    border-top: 1px solid #f6f3ee;
    padding-top: 30px;
    margin-bottom: 32px;
  }
}