footer {
  background-color: #31383E;
  padding: 24px 16px;
  width: 100%;
  font-size: 16px;
  color: #B1B2B5;
  float: left;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.copyright-wrap {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.copyright-wrap:hover {
  color:  #F6F3EE;
}

div.social-media-wrap {
  text-align: center;
}

.social-media-wrap .icon {
  background-color: #B1B2B5 !important;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.social-media-wrap .icon:hover {
  background-color: #F6F3EE !important;
}

div.social-media-wrap > a {
  color: #31383E;
  display: inline-block;
  text-decoration: none;
  margin: 0 24px 0 0;
  padding: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

div.footer-links {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

div.footer-links > a {
  color: #B1B2B5;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 8px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

div.footer-links > a:hover {
  color: #F6F3EE;
}
