/* Form headers
==========================================*/
.pm-header {
  font-family: "Roboto", sans-serif;
}


@media screen and (min-width: 768px) {
  .pm-row .payment-input {
    width: calc(50% - 16px);
    float: left;
  }

  .pm-row .payment-input:first-child {
    margin-right: 32px;
  }

  /* Form headers
  ==========================================*/
  .pm-header {
    font-size: 16px;
    margin-bottom: 16px;
    padding-bottom: 56px;
    color: #b3afaf;
    font-weight: 500;
    border-bottom: 1px solid #e6e1e1;
  }
}


@media screen and (max-width: 768px) {
  .pm-row .payment-input {
    width: calc(100% - 4px);
    float: left;
  }

  .pm-row .payment-input:first-child {
  }

  /* Form headers
  ==========================================*/
  .pm-header {
    font-size: 15px;
    margin-bottom: 8px;
    padding-bottom: 2px;
    color: #807d7d;
    font-weight: 600;
    border-bottom: 1px solid #b3afaf;
  }
}

/* Clear floats after the columns */
.pm-row:after {
  content: "";
  display: table;
  clear: both;
}

.pm-row {
  width: 100%;
}