.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 768px) {
  .Modal {
    position: absolute;
    top: 70px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background-color: transparent;
    position: absolute;
    outline: none;
  }

  .Modal:focus {
    outline: none;
  }

  .mclosex-wrap {
    display: block;
    width: 100%;
    text-align: right;
    margin: 0 0 32px 0;
    padding: 0;
  }

  .feather-x-circle {
    fill: transparent;
    color: #f6f3ee;
    height: 30px;
    width: 30px;
    transition: all .5s ease-in-out;
  }

  .feather-x-circle:hover {
    color: #faea29;
    cursor: pointer;
  }

  .mcontent-wrap {
    background-color: #ffffff;
  }

  .mcontent-wrap img {
    max-width: 100%;
    min-height: 250px;
  }

  .mclosex-wrap > button {
    padding: 0px !important;
  }
}