.buy-ticket-information {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 16px 100px 16px 16px;
  font-size: 13px;
  font-weight: 700;
}

.buy-ticket-information span:first-child {
  margin-right: 50px;
}

.description-wrap {
  width: 100%;
  height: 78vh;
  padding-top: 40px;
  padding-bottom: 16px;
}

div.grid-33 {
  padding-left: 100px;
  padding-right: 25px;
}

.grid-33 {
  width: 30%;
  float: left;
}

.grid-33 img {
  width: 100%;
}

.grid-66 {
  width: 70%;
}

.price-table {
  float: left;
}

.payment-btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  margin-right: 8px;
  border-radius: 2px;
  font-family: Arial;
  color:  #343434;
  font-size: 13px;
  background:  #faea29;
  padding: 11px 16px 11px 16px;
  text-decoration: none;
}

button.btn-payment {
  color: #343434 !important;
}

.payment-btn-wrap {
  margin-left: 8px;
}

[type="number"] {
  background-color: #f6f3ed !important;
  width: 70px;
  border-radius: 3px;
}

[type="text"],
[type="number"] {
  background-color: #f6f3ed !important;
}

.price-table [type="number"] {
  padding: 4px;
  text-align: right;
}

.ticket-total {
  font-size: 14px;
  font-weight: bolder;
  padding-top: 24px;
}

.price-table label {
  font-weight: bolder;
  font-size: 13px;
}

/* Table
---------------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 4px;
  font-size: 12px;
}

th {
  background-color: none;
  color: #000;
  border-bottom: 1px solid black;
}

.price-table table {
  margin-bottom: 30px;
}
