.header {
  color: #b3afaf;
  padding-top: 12px;
  padding-bottom: 20px;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
}

.mpesa-paybill-wrap span,
.mpesa-paybill-wrap p  {
  color: #807d7d;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
  .mpesa-paybill-wrap {
    display: inline-block;
    width: 100%;
  }

  .mpesa-paybill-wrap div {
    width: calc(50% - 16px);
    float: left;
  }

  .mpesa-paybill-wrap div:first-child {
    margin-right: 16px;
    padding-right: 80px;
  }

  .mpesa-paybill-wrap div:last-child {
    margin-left: 16px;
  }

  .mpesa-paybill-wrap div:first-child span {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mpesa-paybill-wrap div:first-child span p:nth-child(2n) {
    color: #343434;
    }

  .mpesa-paybill-wrap div:nth-child(2n) span {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mpesa-paybill-wrap div:nth-child(2n) span:nth-child(3n) {
    font-size: 24px;
    font-weight: 500;
    margin: 30px auto;
  }
}