.mpesa-push-wrap p:first-of-type {
  color: #b3afaf;
  padding-bottom: 8px;
  font-size: 14px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.mpesa-push-wrap p ~ p {
  color: #b3afaf;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.mpesa-push-wrap p:nth-child(3n) a {
  text-decoration: underline;
  padding-left: 8px;
}

.mpesa-push-wrap p:nth-child(3n) a:hover {
  text-decoration: none;
}

.mpesa-push-wrap p:nth-child(3n) a,
.mpesa-push-wrap p:nth-child(3n) a:visited,
.mpesa-push-wrap p:nth-child(3n) a:focus,
.mpesa-push-wrap p:nth-child(3n) a:active {
  color: #4fa5e6;
  cursor: pointer;
}

.ebt-phone-no-edit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid red;
}

.ebt-order-total {
  color: #343434;
  font-size: 16px;
  margin: 8px 16px;
}

.mpesa-push-input label {
  font-size: 16px;
  display: block;
  color: #343434;
  padding-bottom: 2px;
}

.go-to-paybill-p2 {
  display: block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.primary-pay-mpesa {
  display: block;
  width: 100%;
}

.mpesa-push-loader-wrap {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid red;
}


@media screen and (max-width: 768px) {
  .mpesa-push-wrap {
    margin-bottom: 20px;
  }
  .mpesa-push-wrap div:nth-child(2n) img {
    height: 80px;
  }

  .mpesa-push-wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  .mpesa-push-wrap div:first-child {
    margin-right: 8px;
    width: calc(80% - 8px);
    float: left;
  }

  .mpesa-push-wrap div:nth-child(2n) {
    width: 20%;
    text-align: right;
    float: left;
  }

  .mpesa-push-wrap p:first-of-type {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mpesa-push-wrap {
    display: block;
    width: 100%;
  }

  .mpesa-push-wrap p:first-of-type {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .mpesa-push-wrap p:last-child {
    margin-top: 24px;
  }

  .mpesa-push-wrap div {
    float: left;
  }

  .mpesa-push-wrap div:first-child {
    margin-right: 8px;
    width: calc(60% - 8px);
  }

  .mpesa-push-wrap div:nth-child(2n) {
    width: calc(40% - 8px);
    text-align: center;
    margin-left: 8px;
  }

  .mpesa-push-wrap div:nth-child(2n) img {
    height: 150px;
  }
}