.mpesa-push-wrap p:first-of-type {
  color: #b3afaf;
  padding-bottom: 8px;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.mpesa-push-wrap p ~ p {
  color: #b3afaf;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.mpesa-push-wrap .mpesa-push-p3 a {
  text-decoration: underline;
  padding-left: 8px;
}

.mpesa-push-wrap .mpesa-push-p3 a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .mpesa-push-wrap {
    margin-bottom: 20px;
  }
  .mpesa-push-wrap .mpesa-push-div2 img {
    height: 80px;
  }

  .mpesa-push-wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  .mpesa-push-wrap .mpesa-push-div1 {
    margin-right: 8px;
    width: calc(80% - 8px);
    float: left;
  }

  .mpesa-push-wrap .mpesa-push-div2 {
    width: 20%;
    text-align: right;
    float: left;
  }

  .mpesa-push-wrap p:first-of-type {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mpesa-push-wrap {
    display: block;
    background-color: pink;
    width: 100%;
  }

  .mpesa-push-wrap p:first-of-type {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .mpesa-push-wrap div {
    float: left;
  }

  .mpesa-push-wrap .mpesa-push-div1 {
    margin-right: 8px;
    width: calc(60% - 8px);
  }

  .mpesa-push-wrap .mpesa-push-div2 {
    width: calc(40% - 8px);
    text-align: center;
    margin-left: 8px;
  }

  .mpesa-push-wrap .mpesa-push-div2 img {
    height: 150px;
  }
}

.mpesa-push-loader-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mpesa-push-loader-wrap > * {
  flex-basis: 100%;
}

/* Mpesa push loaders
=========================================================*/
.mpesa-spinner {
  width: 40px;
  height: 40px;
  background-color: #b3afaf;

  margin: 20px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}