.payment-wrap {
  display: block;
  width: 100%;
}

.payment-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.payment-wrap .payment {
  width: calc(50% - 16px);
  float: left;
}

.payment:first-of-type {
  margin-right: 16px;
}

.payment:last-of-type {
  margin-left: 16px;
}

/* Form headers
==========================================*/
.payment-header {
  font-size: 16px;
  color: #b3afaf;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #f6f3ee;
  margin-bottom: 30px;
  padding-bottom: 8px;
}
