.payment-wrap {
  display: block;
  width: 100%;
}

.payment-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.payment-wrap .payment {
  width: calc(50% - 16px);
  float: left;
}

.payment:first-of-type {
  margin-right: 16px;
}

.payment:last-of-type {
  margin-left: 16px;
}

/* Form headers
==========================================*/
.payment-header {
  font-size: 16px;
  color: #b3afaf;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.cd-header {
  font-size: 16px;
  color: #b3afaf;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #f6f3ee;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-bottom: 8px;
}

/* Tabs Styles
=====================================================*/
.pm__tabs {
  display: block;
  border: violet;
  width: calc(50% - 16px);
  float: left;
}

.pm__tabs:first-of-type {
  margin-right: 16px;
}

.pm__tabs:last-of-type {
  margin-left: 16px;
}

.pm__tab-list {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 1px 0;
  border-color: #f6f3ee;
}

.pm__tab-list:after {
  content: "";
  clear: both;
  display: table;
}

/*.react-tabs__tab {
  display: block;
  border: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 8px 14px;
  cursor: pointer;
  width: 140px;
  text-align: center;
}

.react-tabs__tab--selected {
  color: #343434;
  border-radius: 0;
  border-bottom: 5px solid #ffd600;
  margin-bottom: -4px;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab--disabled {
  color: #b3afaf;
  cursor: not-allowed;
}

.react-tabs__tab:focus {
  box-shadow: none;
  border-color: none;
  outline: none;
}

.react-tabs__tab:hover {
  color: #343434;
  border-bottom: 5px solid #ffd600;
  margin-bottom: -4px;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0px;
  right: 0px;
  bottom: -5px;
  background-color: #ffd600;
}


.information-form {
  display: block;
  width: 100%;
  max-height: 65vh;
  overflow-x: hidden;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 16px;
}*/