@media screen and (min-width: 768px) {
  .show-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .show-mobile {
    display: block;
  }

  .ant-tabs-nav-container {
    background-color: #f6f3ee;
  }

  .ant-tabs-ink-bar {
    background-color: #faea29;
    height: 3px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    font-weight: 500;
    color: #b3afaf;
  }
  .ant-tabs-nav .ant-tabs-tab:hover,
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #31383e;
  }
}
