.ticket-title {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #faea29;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.desktop-tablet {
  display: none;
}

.medium-screen {
  display: none;
}

.input input {
  background-color: #f6f3ee !important;
}

.input input::placeholder {
  color: #31383e !important;
}

.input input::-ms-input-placeholder {
  color: #31383e !important;
}

.input input::-moz-placeholde {
  color: #31383e !important;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr:first-child {
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
}

tr:nth-child(2) td {
  padding: 8px 2px 4px 2px !important;
}

table input[type="number"] {
  background-color: #f6f3ee;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #999895;
  border-radius: 5px;
}

tr:first-of-type th:nth-of-type(3):before {
  content: "QUANTITY";
}

th,
td {
  text-align: left;
  padding: 4px 2px;
}

tr:last-child td:last-child {
  border-top: 2px solid rgba(202, 202, 202, 0.5);
}

.ticket-total {
  font-weight: bolder;
}

.ebt-information {
  width: 100%;
}

.ebt-promo-wrap input,
.ebt-information > input {
  font-size: 14px;
  border: 1px solid #dddddd;
  background-color: #f6f3ee;
  box-sizing: border-box;
  border-radius: 3px;
  outline: 0;
  transition: all 0.3s ease-in-out;
}

.ebt-promo-wrap input:focus,
.ebt-information > input:focus {
  border: 1px solid #0366d6;
  box-shadow: 0 0 1px #0366d6;
}

.ebt-information > label {
  display: block;
  float: left;
  width: 100%;
  margin: 32px 16px 0 0;
}

.ebt-optional-info {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 16px;
}

span.buy-ticket-optional-info {
  margin-bottom: 8px;
  margin-top: 48px;
}

/* Payment Buttons
---------------------------------------------------*/
.payment-button {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #31383e;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #faea29;
  padding: 8px 20px;
  border: solid #faea29 2px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
}

.payment-button:active,
.payment-button:focus,
.payment-button:hover {
  background-color: #31383e;
  border: solid #31383e 2px;
  text-decoration: none;
  color: #faea29;
}

/*
 *
 * MEDIA QUERIES
 *
*/

/* Large Screen styles */
@media (min-width: 990px) and (max-width: 1920px) {
  .desktop {
    display: block;
  }

  .desktop-tablet {
    display: block;
  }

  .medium-screen {
    display: block;
  }

  .mobile {
    display: none !important;
  }

  .ticket-title h4 {
    padding: 16px;
  }

  .ticket-title h4 {
    font-weight: bolder;
    font-size: 18px;
  }

  .buy-ticket-information a {
    display: inline-block;
    padding: 2px 10px 2px 5px;
  }

  .buy-ticket-information [href] {
    color: #fbe930;
    text-decoration: underline;
    background-color: #31383e;
  }

  .buy-ticket-information {
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    padding: 16px 100px 16px 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .ticket-description-wrap {
    background-color: #ffffff;
    width: 100%;
    height: 78vh;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  div.grid-33 {
    padding-left: 10%;
    padding-right: 25px;
  }

  .grid-33 {
    width: 300px;
    float: left;
  }

  .grid-33 img {
    height: 400px;
    min-width: 100%;
  }

  div.grid-66 {
    width: calc(90% - 300px);
    padding-right: 10%;
    padding-left: 25px;
  }

  .grid-66 {
    float: right;
  }

  .payment-btn {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    margin-right: 8px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    color: #343434;
    font-size: 14px;
    background: #faea29;
    padding: 11px 16px 11px 16px;
    text-decoration: none;
  }

  button.btn-payment {
    color: #343434;
    margin-left: 8px;
  }

  div.payment-btn-wrap {
    width: 50%;
    display: flex;
  }

  .ebt-promo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ebt-promo-wrap div:first-child {
    width: 50%;
  }

  [type="number"] {
    background-color: #f6f3ee !important;
    width: 70px;
    border-radius: 3px;
  }

  [type="text"],
  [type="number"] {
    background-color: #f6f3ee !important;
  }

  .ticket-total {
    font-size: 14px;
    padding-top: 24px;
  }

  .price-table label {
    font-weight: bolder;
    font-size: 14px;
  }

  .buy-ticket-information {
    padding: 16px;
    height: 50px;
  }

  .buy-ticket-information h5 {
    margin-right: 40px;
    font-size: 14px;
  }

  .price-table table {
    margin-bottom: 30px;
  }

  .payment-button {
    min-width: 170px;
  }
}

/* Large and medium size screen styles */
@media (min-width: 768px) and (max-width: 1920px) {
  hr.buy-ticket-optional {
    border: 1px solid #e8e4df;
  }

  .ebt-promo-wrap input,
  .ebt-information > input {
    font-size: 14px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    padding: 8px 16px;
    float: left;
  }

  .ebt-promo-wrap input {
    width: calc(100% - 8px);
  }

  .ebt-information > input {
    width: calc(50% - 8px);
  }

  span.buy-ticket-optional-info {
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 1.4rem;
    display: inline-block;
    letter-spacing: 2px;
  }

  .pay-tickets {
    margin-bottom: 32px;
  }

  table input[type="number"] {
    max-width: 70px;
  }

  th,
  td {
    font-size: 14px;
  }

  .payment-button {
    width: calc(50% - 16px);
  }
}

/* Styles for Tablets and medium screen
------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 990px) {
  .mobile {
    display: none !important;
  }

  .desktop-tablet {
    display: block;
  }

  .ticket-description-wrap {
    padding: 16px;
  }

  .ticket-title h4 {
    padding: 16px;
  }

  .ticket-title h4 {
    font-weight: bolder;
    font-size: 18px;
  }

  .buy-ticket-information a {
    display: inline-block;
    padding: 2px 10px 2px 5px;
  }

  .buy-ticket-information [href] {
    color: #fbe930;
    text-decoration: underline;
    background-color: #31383e;
  }

  .buy-ticket-information {
    padding: 8px;
    min-height: 50px;
  }

  .buy-ticket-information h5 {
    margin-right: 40px;
    font-size: 14px;
  }

  .price-table {
    height: 100%;
  }

  div.grid-33 {
    display: block;
    padding-left: 16px;
    padding-right: 0px;
  }

  div.grid-66 {
    padding-right: 16px;
    padding-left: 0px;
  }

  .grid-33 {
    width: 40%;
    float: left;
    height: 100%;
  }

  .grid-33 img {
    width: 270px;
    height: 360px;
  }

  .grid-66 {
    width: 60%;
    float: right;
  }

  table {
    margin-bottom: 32px;
  }

  .payment-button {
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .ticket-image-wrap img {
    max-width: 100%;
    width: 100%;
    max-height: 133%;
    background: #ececed;
    overflow: hidden;
  }

  .ticket-title {
    padding: 16px 8px;
    min-height: 40px;
    margin-top: 0;
  }

  .ticket-description-wrap {
    background-color: #ffffff;
    padding: 24px 16px;
  }

  .buy-ticket-information {
    background-color: #31383e;
    padding: 16px 8px;
  }

  .buy-ticket-information h5 {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: #31383e;
    color: #f6f3ee;
  }

  .buy-ticket-information [href] {
    color: #faea29;
    text-decoration: underline;
    background-color: #343434;
    margin-left: 4px;
  }

  .buy-ticket-information [href]:hover {
    text-decoration: none;
  }

  .ui.mobile.menu {
    margin: 0 !important;
  }

  .ui.secondary.pointing.menu .item:hover,
  .ui.secondary.pointing.menu .active.item,
  .ui.secondary.pointing.menu .active.item:hover {
    border-color: #faea29 !important;
    color: #31383e !important;
  }

  .ui.menu .item {
    color: #b5b5b3 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
  }

  table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 32px;
    font-size: 11px !important;
  }

  table input[type="number"] {
    max-width: 50px;
  }

  tr:nth-child(2n + 3) td {
    padding-bottom: 8px;
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }

  table input[type="number"] {
    padding-left: 6px;
    padding-right: 2px;
  }

  tr:first-of-type th:nth-of-type(3):before {
    content: "QYT";
  }

  th,
  td {
    font-size: 13px;
  }

  .pay-tickets label {
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  div.payment-btn-wrap {
    width: 100%;
  }

  .payment-btn-wrap div:first-child {
    width: 50%;
    float: left;
    padding-right: 12px;
  }

  .payment-btn-wrap div:last-child {
    width: 50%;
    float: right;
    padding-left: 12px;
  }

  .payment-button {
    width: 100%;
    margin-left: 0;
  }

  .ebt-information > input {
    width: 100%;
    float: left;
  }

  .ebt-promo-wrap input,
  .ebt-information > input {
    font-size: 13px;
    margin: 8px 0;
    padding: 8px;
  }

  .ebt-promo-wrap div:first-child {
    width: 100%;
  }

  .ebt-promo-wrap input {
    width: 100%;
  }
}